<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ros_test_ass_v2">
  <link
    name="chassis_link">
    <inertial>
      <origin
        xyz="0 0.445 0.0249831852972345"
        rpy="0 0 0" />
      <mass
        value="22.7777875658031" />
      <inertia
        ixx="1.53624657736055"
        ixy="-6.60685698858354E-17"
        ixz="5.67851349569685E-19"
        iyy="0.517010899353609"
        iyz="-7.25295636772156E-18"
        izz="2.04388054287898" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_test_ass_v2/meshes/chassis_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_test_ass_v2/meshes/chassis_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="front_left_wheel">
    <inertial>
      <origin
        xyz="0.335 0.1 0.024274"
        rpy="0 0 0" />
      <mass
        value="0.40212" />
      <inertia
        ixx="0.00080425"
        ixy="9.2518E-37"
        ixz="1.1656E-36"
        iyy="0.00045574"
        iyz="7.6788E-38"
        izz="0.00045574" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_test_ass_v2/meshes/front_left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_test_ass_v2/meshes/front_left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="front_left_wheel" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="front_right_wheel">
    <inertial>
      <origin
        xyz="-0.335 0.1 0.024274"
        rpy="0 0 0" />
      <mass
        value="0.40212" />
      <inertia
        ixx="0.00080425"
        ixy="-1.1755E-36"
        ixz="1.1656E-36"
        iyy="0.00045574"
        iyz="7.6788E-38"
        izz="0.00045574" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_test_ass_v2/meshes/front_right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_test_ass_v2/meshes/front_right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right"
    type="continuous">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="front_right_wheel" />
    <axis
      xyz="-1 0 0" />
  </joint>
  <link
    name="rear_left_wheel">
    <inertial>
      <origin
        xyz="0.335 0.79 0.024274"
        rpy="0 0 0" />
      <mass
        value="0.40212" />
      <inertia
        ixx="0.00080425"
        ixy="-7.9056E-21"
        ixz="-3.9528E-21"
        iyy="0.00045574"
        iyz="-7.8895E-20"
        izz="0.00045574" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_test_ass_v2/meshes/rear_left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_test_ass_v2/meshes/rear_left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_left"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="rear_left_wheel" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rear_right_wheel">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_test_ass_v2/meshes/rear_right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ros_test_ass_v2/meshes/rear_right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_right"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="rear_right_wheel" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>